import React from 'react';
import { createNativeStackNavigator } from '@react-navigation/native-stack';
{{#hasBottomTabs}}import BottomTabs from './BottomTabs';{{/hasBottomTabs}}
{{#hasDrawer}}import DrawerNav from './Drawer';{{/hasDrawer}}

const Stack = createNativeStackNavigator();

export default function RootNavigator() {
  return (
    <Stack.Navigator screenOptions={{ headerShown: false }}>
      {{#hasDrawer}}
      <Stack.Screen name="MainDrawer" component={DrawerNav} />
      {{/hasDrawer}}
      {{#hasBottomTabs}}
      <Stack.Screen name="MainTabs" component={BottomTabs} />
      {{/hasBottomTabs}}

      {{#stack}}
      <Stack.Screen name="{{route}}" getComponent={() => require('../screens/{{name}}').default} />
      {{/stack}}

      {{#authScreens}}
      <Stack.Screen name="{{route}}" getComponent={() => require('../screens/Auth/{{name}}').default} />
      {{/authScreens}}
    </Stack.Navigator>
  );
}
