export default {
  name: "{{appName}}",
  slug: "{{slug}}",
  version: "1.0.0",
  owner: "{{owner}}",
  extra: {
    useLatestExpo: {{#useLatestExpo}}true{{/useLatestExpo}}{{^useLatestExpo}}false{{/useLatestExpo}}
  }
}
